body {
    width: 100%;
     margin: 0px;
    padding: 0px;
    background: #c3bdc7de;
}



/*-------------Mise en forme des cards-----------*/
.containerCard{
    margin: 10px;
    width:90%;
    display: flex;
    flex-wrap:  wrap;
    justify-content:space-around ;
    gap:40px;
    margin-left: auto;
    margin-right: auto;
    
}
.boucleProduits{
    width: 215px;
    height:auto;
    
}
.carte{
    z-index: 0;
    width: 210px;
    height: 250px;
    background: #388edf;
    display:grid;
    grid-template: repeat(2,70px) 30px repeat(2,40px)  / repeat(3,70px);
    border-radius: 14px;
    border:ridge 8px rgba(12, 11, 11, 1);
    box-shadow: 6px 6px 5px rgb(54, 54, 54);
    transition: all 500ms ease-in-out;

    &:hover{
        transform: scale(1.3);
        z-index:2 !important;
    }

}

.cardImg img{
    /* image 210*140px */
    grid-area: 1/1/3/4;
    border-top-left-radius: 3px;
    border-top-right-radius:3px ;
}
.cardTitre{
    grid-area: 3/1/4/4;
    color:rgb(34, 5, 46);
}
.cardDesc{
    grid-area: 4/1/6/4;
    color:darkblue;
    font-size: 35px;
}


/*-------------Responsive smartphone-----------*/
@media screen and (max-width:600px)  {
.carte{
    transform: scale(0.85);
}
.carte:hover {
    transform:scale(1.1);
}

}