@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
$colorBordeaux:rgb(170, 5, 5);
$colorBordeauxShadow:rgba(79,21,21,0.5);
$colorBordeauxShadowNoOpacity:rgb(102, 27, 27);
$colorOrange:rgb(219, 99, 43);
$activeLinkWhite:ghostwhite;
$backgroundBlack: #181717de;

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: $backgroundBlack;
    
}
h1,p {
    text-align: center;
}

.viewContainer{
    margin: 40px 10px;
}


/*-------------Mise en forme des cards-----------*/
.containerCard{
    margin: 10px;
    width:90%;
    display: flex;
    flex-wrap:  wrap;
    justify-content:space-around ;
    gap:30px;
    margin-left: auto;
    margin-right: auto;
    
}
.boucleProduits{
    width: 215px;
    height:auto;
    
}
.carte{
    text-align: center;
    z-index: 0;
    width: 210px;
    height: 250px;
    background: $colorBordeauxShadowNoOpacity;
    color:$colorOrange;
    display:grid;
    grid-template: repeat(2,70px) 30px repeat(2,40px)  / repeat(3,70px);
    border-radius: 10px;
    border:ridge 4px rgba(12, 11, 11, 1);
    box-shadow: 4px 4px 5px rgba(19,19,19, 0.885);
    transition: all 400ms ease-in-out;
    &:hover{
        transform: scale(1.2);
        z-index:2 !important;
        box-shadow: 58px 38px 5px rgba(19, 19, 19, 0.842);
    }

}

.cardImg img{
    /* image 210*140px */
    grid-area: 1/1/3/4;
    border-top-left-radius: 3px;
    border-top-right-radius:3px ;
}
.cardTitre{
    grid-area: 3/1/4/4;
    
}
.cardDesc{
    grid-area: 4/1/6/4;
    font-size: 35px;
}


/*-------------Responsive smartphone-----------*/
@media screen and (max-width:750px)  {
    .carte{
        transform: scale(0.85);
    }
    .carte:hover {
        transform:scale(1.1);
    }
    .viewContainer{
        margin: 10px ;
    }
    .containerCard{
        row-gap: 1px;
    }

}